
.description{
    width: 100%;
    height: 600px;
    background: white;
    .description-box{
        width: 90%;
        height: auto;
        margin: 100px auto;
        display: flex;
        position: relative;
        img{
            width: 810px;
            margin: 0px 0px;
        }
        .desc--box__text{
            width: 550px;
            height: 370px;
            background-color: white;
            padding: 30px 30px 0;
            position: absolute;
            bottom: 0;
            left: 600px;
            h3{
                text-transform: uppercase;
                font-size: 40px;
                padding-left: 60px;
                padding-top: 100px;
                letter-spacing: 4px;
            }
            p{
                padding-left: 60px;
                padding-top: 30px;
                line-height: 25px;
                font-weight: 600;
                color: gray;
            }
        }
    }
}