
#footer{
    width: 100%;
    height: 150px;
    margin-top: 70px;
    background-color: black;
    padding-top: 30px;
    .footer--icons{
        width: 90%;
        height: auto;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer--sotials{
            img{
                margin-left: 20px;
                padding-bottom: 10px;
                cursor: pointer;
            }
        }
    }
    .footer--menu{
        display: flex;
        width: 90%;
        height: auto;
        margin: 30px auto;
        align-items: center;
        justify-content: space-between;
        nav{
            ul{
                list-style: none;
                display: flex;
                li:first-child{
                    margin-left: 0px;
                }
                li{
                    margin-left: 30px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
                    a:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
        p{
            color: white;
        }
    }
}