
.gallery{
    width: 100%;
    height: auto;
    margin-top: 100px;
    .gallery--header{
        width: 90%;
        height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        h3{
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 200;
        }
        button{
            width: 150px;
            height: 40px;
            outline: white;
            border: none;
            background-color: black;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
        }
    }
    .gallery--box{
        width: 90%;
        height: auto;
        margin: 60px auto;
        display: flex;
        flex-wrap: wrap;
        .box{
            margin: 20px 23px;
            position: relative;
            p{
                position: absolute;
                bottom: 40px;
                left: 20px;
                text-transform: uppercase;
                color: white;
                font-size: 40px;
                font-weight: 400;
                text-shadow: 0px 0px 3px black;
            }
        }
    }
}