
#header{
    width: 100%;
    height: 600px;
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: 100%;
    .navegation{
        width: 75%;
        height: auto;
        padding: 60px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px auto;
        nav{
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-left: 30px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
                    a:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }
    .box-text{
        width: 600px;
        height: auto;
        padding: 30px;
        border: 2px solid white;
        margin: 60px 170px;
        p{
            text-transform: uppercase;
            color: white;
            font-size: 70px;
            text-shadow: 0px 0px 3px black;
        }
    }
}