
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

@import "header";
@import "description";
@import "gallery";
@import "footer";